
  html, body{

    width:100%;
    height:100%;
  
  }
  .navHead{
    height: 70px;
    box-shadow: 2px 4px 7px -1px rgba(0,0,0,0.28);
  }
  .header{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity: 0.7;
    padding-right:100px;
  }
  .logo{
    box-shadow: 3px 3px 10px grey;
    margin-left: 10px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    
  }
  .judul{
    margin-top: 100px;
    font-size:5.2vw;
    color: rgb(255, 255, 255);
    text-shadow:3px 3px 10px black;
  }

  .login{
    border-radius: 100px;
    width:30px; 
    height:70px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .avatar{
    border-radius: 100px;
    width:200px; 
    height:200px;
    float: left;
    margin-left: 30%;
    margin-bottom: 10px;
  }
  .kartu{
    box-shadow: 3px 3px 10px grey;
    height: auto;
  }
  img:hover {
    cursor: pointer;
  }
  .progress{
    width: 50px;
  }
